<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="asset/style.css">
        {% endblock %}
    </head>
    <body>
        <div id="navbar">
            <div class="logo">
                <a href="{{ path('home') }}">Home</a>
            </div>
            <div class="link-content">
                <div>
                    <ul><a href="{{ path('card') }}">Cards</a></ul>
                    <ul><a href="{{ path('add_card') }}">Add card</a></ul>
                </div>
                <div>
                    <ul><a href="{{ path('faction') }}">Factions</a></ul>
                    <ul><a href="{{ path('add_faction') }}">Add faction</a></ul>
                </div>
            </div>
            <div class="log-content">
                {% if is_granted("ROLE_USER") %}
                    <a href="{{ path('app_logout') }}">Logout</a>
                {% else %}
                    <a href="{{ path('app_login') }}">Login</a>
                    <a href="{{ path('app_register') }}">Register</a>
                {% endif %}
            </div>
        </div>

        {% block body %}
        <div id="#pageContent"></div>
        {% endblock %}

        {% block javascripts %}
        <script type="text/javascript">
            $("pageContent").on("submit",' form',function(e) {
                e.preventDefault();
                var form = $(this);

                $.ajax({
                    type: "POST",
                    url: form.attr("action");
                    data: new formData(this);
                    contentType: false,
                    processData: false,
                    success:function success(reponse){
                    $("pageContent").load($('.active').attr('herf'));
                    }
                });
            });
        </script>
        {% endblock %}
    </body>
</html>